@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body{
  background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1675");
  background-size: cover
}
.header{
  font-family: 'Koulen', cursive;
  text-align: center;
  color: #cfba9a;
  margin-top: 10px;
}

.Log-Boxes{
  padding-top: 1.5em;
  width: 35.5em;
  border: 3px solid #cfba9a;
  height: 8em;
  margin-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #353536;
  font-family: "Koulen";
  font-size: 1em;
  color: #f7f4f4;
  margin: auto;
}
.Log-Details{
  padding-top: 1.5em;
  width: 72.5em;
  border: 3px solid #cfba9a;
  height: 12em;
  margin-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #353536;
  font-family: "Koulen";
  font-size: 1em;
  color: #f7f4f4;
  margin: auto;
}
.exercises-show-page{
  color:#cfba9a;
  font-size:10px;
  display: flex;
  border: solid black;
  background-color: gray;
  width: 300px;
  text-align: center;
}

.link{
  color:white;
  border: solid black;
  width:20em;
  font-family: "Koulen";
  background-color: #353536;
}
.nav-bar-container{
  border: solid gray 2.5px
}
.link:hover{
  color: #ceba9a
}
.nav{
  background-color:#353536;
}
.top-bar ul{
  background-color: #353536;
}
.menu-text{
  color:#cfba9a !important;
  font-size:40px;
}

.home{
  color: #cfba9a !important;
  font-size: 40px;
  margin-top: 32px;
}

.home:hover{
  color:#ceba9a
}
.home:visited{
  color: gray
}

.sign-in{
color:gray;
font-size: 15px
}

.sign-in:hover{
  color:#f7f29e;
}
.sign-out:hover{
  color: #f7f29e;
  
}
.sign-out{
color:gray;
font-size: 15px
}
.button{
  background-color: #353536;
}
.button:hover{
  background-color: #cfba9a;
}

hr{
  color:#353536;
  
}

.tile-show-page{
  width:200px;
}

.exercise-form{
  color:black;
  font-size: 20px;
  display: flex;
  height: 5em;
  width: 40em;
  flex-direction: column;
  justify-content: center;
  background-color:#ceba9a;
  padding: 2em;
  border: solid black 1px;
  margin: auto;
}

.submit-exercise{
  background-color: #cc9d4d;
  color: white;
  border-radius: 5%;
  border:solid black 2px;
  margin: auto;
  justify-content: center;
  display: flex;
}
.log-form{
  text-align: center;
  width: 25em;
  color: white;
  font-size: 20px;
  background-color: #353536;
  border:solid #ceba9a;
  margin: auto;
  padding: 2em;
  margin-top: 10px
}
.weight , .date{
  color: white;
  font-size: 40px;
}
.log-form-home{
  color: gray;
  margin-top: 25px;
}
.log-form-home:hover{
  color: #cc9d4d;
}
.log-redirect{
  color: white
}

.log-redirect:hover{
  color:#ceba9a
}
.welcome{
  text-align: center;
  margin: auto;
  font-size: 40px;
  padding-bottom:50px;
  margin-top: 20px;
  border: solid #ceba9a 5px;
}

.main-header{
  padding-top: 40px;
  color: #ceba9a;
}
.delete-button{
  height: 10em;
  padding-bottom: 10px;
  width: 10em;
  border: solid #ceba9a 3px;
  color: #ceba9a;
}
.delete-button:hover{
  color:red;
  background-color: black;
}
.workouts-tile{
  margin: auto;
  text-align: center;
  font-size: 16px;
}

.exercises-show-page{
  text-align: center;
  margin: auto;
  width: 80em;
  margin-bottom: 3px;
}
h1.Log-Details.tile-show-page{
  width: 50em;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
  color:#ceba9a
}
a{
  color:#808080;
}

a:hover{
color: #ceba9a;
}
.register{
  text-align: center;
  width: 25em;
  color: white;
  font-size: 20px;
  background-color: #353536;
  border:solid #ceba9a;
  margin: auto;
  padding: 2em;
  margin-top: 10px
}
.sign-in-page{
  text-align: center;
  width: 25em;
  color: white;
  font-size: 20px;
  background-color: #353536;
  border:solid #ceba9a;
  margin: auto;
  padding: 2em;
  margin-top: 10px
}
.form-words{
  color:white;
}

h2.Log-Boxes{
  margin-bottom: 7px;
}
button.button{
  font-size: 30px;
  margin-top: 18px;
  color: gray;
}
button.button{
  color: #cfba9a;
}
.quotes{
  color:red;
  font-size:15px;
  border: solid black 3px;
}